<%- include("../partials/header")%>

<div class="container form-register">
    <form action="/secretregister" method="post">
        <label for="usrnam">Nazwa użytkownika </label>
        <input type="text" name="username" id="usrnam" class="form-control">
        <label for="mail">E-mail </label>
        <input type="email" name="email" id="mail" class="form-control">
        <label for="psswrd">Hasło</label>
        <input type="password" name="password" id="psswrd" class="form-control">
        <input type="submit" value="Zarejestruj się" class="btn btn-lg btn-primary btn-blog mt-3">
    </form>
</div>

<%- include("../partials/footer")%>