<footer class="footer mt-5 mb-1 page-footer">
    <div class="container">
        <div class="row">
            <div class="col-1 d-flex flex-column align-items-center">
                <a href="https://www.facebook.com/karolinacieplickafotografia/"><img class="footer-social"
                        src="/media/face.png" target="_blank"></a><br>
                <a href="https://www.instagram.com/karolinacieplicka_fotografia/"><img class="footer-social"
                        src="/media/insta.png" target="_blank"></a>
            </div>
            <div class="col-4 footer-author">
                <p>
                    Strona stworzona przez Dawida
                    Adamskiego <p>
                        <a href="https://www.linkedin.com/in/dawid-adamski-83138319b/" target="_blank"><img
                                src="/media/linkedin.png" class="img-social-footer"></a>
                        <a href="https://www.facebook.com/dawid.adamski.376" target="_blank"><img src="/media/face.png"
                                class="img-social-footer"></a>
                    </p>
                </p>

            </div>
            <div class=" col-3 dane">
                <p>Karolina Cieplicka - Fotografia</p>
                <p><a href="tel:+48695556367" target="_blank">695 556 367</a></p>
                <p><a href="mailto:mail@mail.com" target="_blank">mail@mail.com</a></p>
                <p><a href="/contact">> Wyślij wiadomość <</a> </p> </div> <div class="col-4 logo-div">
                            <img src="/media/logo.png" alt="" class="footer-logo">
            </div>
            <div class="svg-made">Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik"
                    target="_blank">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"
                    target="_blank">www.flaticon.com</a></div>
        </div>

    </div>
</footer>
<!-- BOOSTRAP JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<!-- CUSTOM JS  -->
<script src="/scripts/app.js"></script>
</body>

</html>