body {
    background: black;
    padding-top: 30vh;
}

.loader-container {
    text-align: center;
}

section {
    width: 30%;
    display: inline-block;
    text-align: center;
    min-height: 215px;
    vertical-align: top;
    margin: 1%;
}

@media only screen and (max-width: 600px) {
    section {
        min-width: 350px;
    }
}

.loader {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 75px;
    display: inline-block;
    vertical-align: middle;
}

.loader-13 .css-heart {
    position: absolute;
    -webkit-animation: star-fly-out 1s ease alternate infinite;
    animation: star-fly-out 1s ease alternate infinite;
    -webkit-transform: scale(0.2);
    -ms-transform: scale(0.2);
    transform: scale(0.2);
}

.loader-13 .heart1 {
    top: 0;
    left: 30px;
}

.loader-13 .heart2 {
    left: 60px;
    top: 30px;
}

.loader-13 .heart3 {
    top: 60px;
    left: 30px;
}

.loader-13 .heart4 {
    left: 0;
    top: 30px;
}


.css-heart {
    position: absolute;
    /*      width: 100px;
    height: 90px; */
}

.css-heart:before,
.css-heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: #950d0d;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

.css-heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}




@-webkit-keyframes star-fly-out {
    0% {
        top: 19px;
        left: 19px;
    }

    100% {}
}

@keyframes star-fly-out {
    0% {
        top: 19px;
        left: 19px;
    }

    100% {}
}