/* main styles */
body {
    margin: 0px;
    padding: 0px;
    font-family: "Amatic SC", cursive;
    min-height: 100%;
    background: #F3ECE4;
}

.alert {
    font-size: 25px;
}

/* navigation */
#nav-ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-size: 30px;
    font-weight: 600;
}

.navbar {
    font-size: 20px;
    transition: 0.5s;
}

.nav-item a img {
    height: 70px;
}

/* welcome page */


.selfie {
    float: right;
    width: 30%;
    border-radius: 50%
}

.its-me {
    text-align: right;
    font-size: 20px;
}

.arrow {
    width: 10%;
    position: relative;
    bottom: 30px;
}

.social-h2 {
    line-height: 47px;

}

.social-h2:nth-of-type(1) {
    margin-left: 10vw;
}

.social-h2:nth-of-type(2) {
    margin-left: 40vw;
}

.social-img {
    height: 40px;
    width: auto;

}

.social-img:hover {
    height: 43px;
    transition: 0.5s;
}

@media only screen and (max-width: 600px) {
    .hi-message {
        font-size: 25px;
        margin-top: 5vh;
        float: left;
        width: 70%;
    }

    .arrow {
        bottom: 15px;
    }

    .spec-h2 {
        font-size: 25px;
    }
}

@media only screen and (min-width: 600px) {
    .hi-message {
        font-size: 30px;
        margin-top: 5vh;
        float: left;
        width: 70%;
    }



    .arrow {
        bottom: 20px;
    }
}

@media only screen and (min-width: 1000px) {
    .hi-message {
        float: left;
        width: 70%;
        font-size: 40px;
        margin-top: 15vh;
    }

    .its-me {
        text-align: right;
        font-size: 35px;
        vertical-align: bottom;
    }


}

.carousel-inner {
    height: 100vh;
}



.carousel-1 {
    background: url("../media/01.jpg");
}

.carousel-2 {
    background: url("../media/02.jpg");
}

.carousel-3 {
    background: url("../media/03.jpg");
}

.carousel-1,
.carousel-2,
.carousel-3 {
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.row .col-md-6 {
    height: 70vh;
}

.sis-1 {
    background-image: url("../media/sis-2.jpg");
}

.sis-2 {
    background-image: url("../media/grass.jpg");
}

.sis-3 {
    background-image: url("../media/sis-3.jpg");
}

.sis-1,
.sis-2,
.sis-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.img-competence {
    height: 70px;
    margin-right: 20px;
}

/* blog list */
.card {
    background: none;
    border: none;
    text-align: center;
    font-size: 20px;
}

.card h5 {
    font-size: 30px;
    font-weight: 600;
}

.card a {
    font-size: 25px;
}

.card img {
    min-width: 350px;
    width: 40vw;
    height: auto;
    margin: 0px auto;
}

.btn-primary.btn-blog {
    background-image: linear-gradient(110.3deg,
            rgba(238, 179, 123, 1) 8.7%,
            rgba(216, 103, 77, 1) 47.5%,
            rgba(114, 43, 54, 1) 89.1%);
    color: #fff;
    border: none;
}

.btn-primary.btn-blog:hover {
    background-image: linear-gradient(110.3deg,
            rgb(235, 184, 137) 8.7%,
            rgb(216, 117, 94) 47.5%,
            rgb(114, 51, 61) 89.1%);
    color: #ece7e3;
}

/* blog/show */
.blog-title {
    text-align: center;
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 20px;
}

.date {
    text-align: center;
    font-style: italic;
    font-size: 20px;
}

.blog-content {
    text-align: justify;
    font-size: 25px;
    line-height: 30px;
}